<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Sorting Algorithm Animations</h1>
    <p>Here is a guide on how to use this feature:</p>

    <h2>Sorting Algorithm Choices</h2>
    <p>Above each of the two display boxes, there is a drop down list where you can select which sorting algorithm you would like to see. These sorting algorithms are:</p>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Bubble_sort" target="_blank">Bubble Sort</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Insertion_sort" target="_blank">Insertion Sort</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Merge_sort" target="_blank">Merge Sort</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Quicksort" target="_blank">Quick Sort</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Heapsort" target="_blank">Heap Sort</a></li>
    </ul>

    <h2>Animation Preferences</h2>
    <p>Within this panel, you can customise the data set which will be sorted.</p>

    <p><b>Number of elements:</b> Move this slider to change how many elements you would like to appear in the data set. Move the slider to the right to increase the number of elements, move the slider to the left to decrease the number of elements. The current number of elements selected will appear above the slider.</p>
    
    <p><b>Starting order:</b> Choose from either a 'Random' starting order, a 'Reversed' starting order, or a 'Partially sorted' starting order. This will determine the state in which the data set begins.</p>
    <ul>
        <li><b>Random</b> - the order of the data set is randomly chosen.</li>
        <li><b>Reversed</b> - the data set will be ordered from largest to smallest.</li>
        <li><b>Partially sorted</b> - the data set will be mostly sorted, apart from a few unsorted elements.</li>
    </ul>

    <p><b>Data values:</b> Choose from either 'All different' or 'Few unique' todecide on the type of data values you want to see in the data set.</p>
    <ul>
        <li><b>All different</b> - all elements in the data set will be unique e.g. 1, 2, 3, 4, 5, 6, 7, 8.</li>
        <li><b>Few unique</b> - no elements will be unique, each element will appear 2-3 times in the data set e.g. 1, 1, 1, 4, 4, 4, 7, 7.</li>
    </ul>

    <p><b>Speed:</b> This slider can be moved before the START button is clicked, and also whilst the animations are running. Move the slider to the right to speed up the animations, move the slider to the left to slow down the animations.</p>

    <h2>Animation Control Buttons</h2>

    <p><b>START button:</b> Click this button to begin the sorting algorithm animations.</p>
    <p><b>PAUSE button:</b> Click this button to temporarily stop the animations whilst they are running, the current state of the data set will remain visisble when paused.</p>
    <p><b>PLAY button:</b>PLAY button: Click this button to resume the animations when they are paused.</p>
    <p><b>STOP button:</b> Click this button to end the animations, both the data set and the comparison / swap counters will be cleared.</p>

</body>
</html>